* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #000000;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #000000;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image img {
  position: relative;
}

.profile-name {
  font-size: 24px;
  margin-top: 10px;
  color: white;
  text-transform: none;
}

.profile-p {
  font-size: 12px;
  color: white;
  text-transform: none;
}

.splash-container {
  background: #141414;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}
.splash-head-new {
  font-size: 10px;
  font-weight: bold;
  color: white;
  border: 1px solid #404040;
  padding: 0.5em 0.8em;
  font-weight: 100;
  border-radius: 2px;
  line-height: 1em;
}

.sosial {
  display: flex;
    gap: 30px;
    margin: 10px;
    justify-content: center;
}

@keyframes rainbow {
0% { color: red; }
14% { color: orange; }
28% { color: yellow; }
42% { color: green; }
57% { color: blue; }
71% { color: indigo; }
85% { color: violet; }
100% { color: red; }
}

.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

@media (min-width: 48em) {
  body {
      font-size: 16px;
  }

  .home-menu {
      text-align: left;
  }
      .home-menu ul {
          float: right;
      }

  .splash {
      width: 50%;
      height: 50%;
  }

  .splash-head {
      font-size: 250%;
  }

  .l-box-lrg {
      border: none;
  }
}

@media (min-width: 78em) {
  .splash-head {
      font-size: 300%;
  }
  
}
